/* Add Google font link */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */
body{
    background-color: rgba(241, 241, 243, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

/* Shared Css Style  */
.fixed_container{
    width: 1280px;
    margin: auto;
}
.btn_color{
    background-color: #006A50;
}
.sm_btn{
    display: inline-block;
    background: rgba(0, 106, 80, 1);
    color: white;
    padding: 11px 23px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    border: 1px solid transparent;
}

.sm_btn:hover {
    background-color: white;
    color: #006A50;
    border: 1px solid rgba(82, 80, 80, 0.205);
}




/* Header Section CSS  */
header {
    padding: 20px 0px;
}
header .head-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .head-content .head_btn button {
    display: inline-block;
    padding: 12px 31px;
    color: #006A50;
    font-weight: 500;
    font-size: 18px;
    background: none;
    border: 1px solid #006A50;
}
header .head-content .head_btn button:hover{
    background-color: #006A50;
    color: white;
}
/* Hero Section CSS */
.hero_section .hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C6E4D6;
    border-radius: 11px;
    /* padding: 57px 0px; */
    height: 560px;
}
.hero_content .hero_left {
    padding: 0px 40px;
}
.hero_content .hero_left p {
    color: #5e5858;
    font-size: 24px;
}
.hero_content .hero_left h1 {
    font-size: 56px;
    margin: 20px 0px;
}
.hero_content .hero_left .hero_btn button {
    font-size: 19px;
    font-weight: 500;
}
.hero_content .hero {
    flex-basis: 50%;
}
.hero_content .hero_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pilar Section CSS */
.pilar_section {
    margin: 50px 0px;
}
.pilar_section .pilar_content h1 {
    /* text-align: center; */
    font-size: 40px;
    margin: 20px 0px 40px;
}
.pilar_section .pilar_content .pilar_cards {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.pilar_cards .pilar_box {
    flex-basis: 25%;
    border: 1px solid #2626264a;
    padding: 30px 17px;
    border-radius: 9px;
}
.pilar_cards .pilar_box .pilar_box_text h3 {
    font-size: 20px;
    margin: 10px 0px;
}
.pilar_cards .pilar_box .pilar_box_text p {
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.6rem;
}


/* Vision Section CSS  */
.vision_section .vision_titel h1 {
    font-size: 40px;
    margin-bottom: 15px;
}
.vision_section .vision_titel p {
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.6rem;
}
.vision_cards {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    margin: 50px 0px;
}
.vision_cards .vision_box {
    flex-basis: 33.33%;
    padding: 30px 23px 25px;
    background: rgba(84, 144, 245, 0.2);
    border-radius: 10px;
}
.vision_cards .vision_box .vision_box_text {
    height: 130px;
}
.vision_cards .vision_box .vision_box_text h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    margin: 20px 0px;
}
.vision_cards .vision_box .vision_box_text p {
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.6rem;
}
.vision_cards .vision_btn {
    padding: 10px 0px 18px;
}
.vision_cards .vision_btn button {
    background: rgba(84, 144, 245, 1);
}
.vi_btn_2{
    background-color: rgba(9, 161, 92, 1) !important;
}
.vi_btn_3{
    background-color: rgba(255, 194, 57, 1) !important;
}
.vi_box_3{
    background-color: rgba(247, 235, 207, 1) !important;
}



/* Yonus Section CSS  */
.yonus_section {
    margin: 50px 0px;
}
.yonus_section .yonus_speace {
    padding: 27px;
    border: 1px solid rgba(14, 14, 14, 0.3);
    border-radius: 10px;
    position: relative;
}
.yonus_section .yonus_speace .yp_1 {
    color: rgba(14, 14, 14, 0.8);
    line-height: 1.6rem;
    margin-top: 25px;
}
.yonus_section .yonus_speace .yp_2 {
    color: rgba(14, 14, 14, 0.6);
}
.yonus_section .yonus_speace h3 {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin: 14px 0px 2px;
}
.yonus_section .yonus_speace img{
    position: absolute;
    z-index: -1;
}

/* Opinion Section  */
.opinion_section {
    margin: 77px 0px;
}
.opinion_title  h1 {
    font-size: 31px;
    margin-left: 11px;
}
.opinion_table {
    padding: 0px 30px;
    margin-top: 33px;
}
.opinion_table table {
    width: 100%;
    border-collapse: collapse;
}
.opinion_table table thead tr th {
    padding: 20px 0px 20px 6px;
    background: rgba(198, 228, 214, 1);
    text-align: left;
    font-size: 20px;
}
.opinion_table table tbody tr td {
    padding: 14px 10px;
    color: rgba(14, 14, 14, 1);
    border: 1px solid rgb(14 14 14 / 8%);
}
.opinion_table table tbody tr td button {
    padding: 13px 42px;
    font-size: 16px;
    border-radius: 6px;
    background-color: rgba(198, 228, 214, 1);
    cursor: pointer;
}
.opinion_table table tbody tr td button:hover{
    background-color: #006A50;
    color: white;
}
.center_btn{
    text-align: center;
}


/* News Section CSS */
.news_section {
    margin: 50px 0px;
}
.news_title {
    margin-bottom: 54px;
}
.news_title h1 {
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    margin-bottom: 20px;
}
.news_title p {
    color: rgba(14, 14, 14, 0.7);
    line-height: 1.6rem;
    margin-bottom: 20px;
}
.news_cards .news_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 64px;
}
.news_cards .news_box .news_img {
    flex-basis: 30%;
    border-radius: 15px;
    overflow: hidden;
}
.news_cards .news_box .news_img img {
    max-width: 100%;
    margin-bottom: -4px;
}
.news_cards .news_box .news_box_text {
    flex-basis: 70%;
    padding: 0px 50px 0px 40px;
}
.news_cards .news_box .news_box_text h1 {
    font-size: 30px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 8px;
}
.news_cards .news_box .news_box_text .alzira_img {
    margin: 10px 0px 12px;
}
.news_time {
    color: rgba(14, 14, 14, 0.7);
}
.news_time span {
    display: inline-block;
    margin-right: 12px;
}
.news_box .news_box_text p {
    color: rgba(14, 14, 14, 0.7);
    margin: 11px 0px 17px;
    line-height: 1.6rem;
}
.news_box .new_style_box {
    padding: 0px 90px 0px 0px !important;
}



/* Donate Section CSS  */
.donate_section {
    margin: 80px 0px;
}
.donate_content .donate_title {
    text-align: center;
}
.donate_content .donate_title h1 {
    font-size: 40px;
    color: rgba(14, 14, 14, .9);
    margin-bottom: 15px;
}
.donate_content .donate_title p {
    color: rgba(14, 14, 14, 0.7);
    padding: 0px 93px;
    line-height: 1.6rem;
}
.donate_content .donate_amount {
    width: 90%;
    margin: 30px auto 0px;
    display: flex;
    justify-content: space-evenly;
}
.donate_content .donate_amount .donate_tk {
    border: 1px solid rgba(14, 14, 14, 0.4);
    border-radius: 11px;
    text-align: center;
    overflow: hidden;
}
.donate_content .donate_amount .donate_tk span {
    display: inline-block;
    font-size: 40px;
    font-weight: 500;
    padding: 32px 36px;
    color: rgba(14, 14, 14, 0.8);
    cursor: pointer;
}
.donate_content .donate_amount .donate_tk span:hover{
    background-color: #006A50;
    color: wheat;
}

.donate_form {
    text-align: center;
    width: 73%;
    margin: 50px auto 0px;
}
.donate_form form {
    margin-bottom: 20px;
}
.donate_form form input {
    text-align: center;
    width: 100%;
    height: 63px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}


/* Footer CSS  */
/* Newslatter Section CSS */
.newslatter_section{
    margin-bottom: 50px;
}
.newslatter_content {
    background: rgba(198, 228, 214, 1);
    text-align: center;
    padding: 90px 0px;
    border-radius: 15px;
}
.newslatter_content .newslatter_text {
    width: 60%;
    margin: auto;
}
.newslatter_content .newslatter_text h1 {
    font-size: 40px;
    /* margin-bottom: 20px; */
    line-height: 1.6rem;
}
.newslatter_content .newslatter_text p {
    color: rgba(14, 14, 14, 0.7);
    margin: 30px 0px;
}
.newslatter_content .newslatter_form {
    margin-top: 27px;
    width: 60%;
    margin: auto;
}
.newslatter_content .newslatter_form form .subscribe_div {
    display: flex;
    height: 60px;
    margin: 20px 0px;
    border-radius: 8px;
    overflow: hidden;
}
.newslatter_content .newslatter_form form .subscribe_div input {
    flex-basis: 80%;
    font-size: 20px;
    padding: 20px;
    border: navajowhite;
    outline: 0;
}
.newslatter_content .newslatter_form form .subscribe_div button {
    flex-basis: 20%;
    border-radius: 0 !important;
}
.newslatter_content .newslatter_form form .subscribe_div button:hover{
    background-color: #1eac88;
    color: yellow;
}
.newslatter_content .newslatter_form p{
    color: rgba(14, 14, 14, 0.7);
}

/* .Finish Section  */
.finish_section {
    margin: 76px 0px 41px;
}
.finish_section .finish_title {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.1);
    margin-bottom: 22px;
}
.finish_section .finish_title h1 {
    font-size: 40px;
    text-align: center;
}
.finish_section .finish_icon {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.finish_section .finish_icon .icon_div img {
    margin-bottom: -4px;
}

.hide {
    display: none;
}




@media screen and (max-width:576px) {
    /* Same Media */
    .hero_content, .pilar_cards, .vision_cards, .news_cards .news_box, .donate_content .donate_amount {
        flex-direction: column;
        row-gap: 20px;
    }
    .fixed_container{
        width: 90%;
        margin: auto;
    }
    /* Head Media */
    .head-content h1{
        font-size: 25px;
    }
    .head_btn button, .hero_btn button  {
        padding: 9px 21px !important;
        font-size: 17px !important;
    }
    
    /* Hero Media  */
    .hero_content {
        height: auto !important;
        padding: 30px 0px;
    }
    .hero_content .hero_left {
        padding: 0px 10px;
        text-align: center;
    }
    .hero_content .hero_left h1{
        font-size: 34px;
        line-height: 2.8rem;
    }
    .hero_right img {
        width: 90%;
    }

    /* Pilar Media  */
    .pilar_section .pilar_content h1, .vision_titel h1  {
        text-align: center;
        font-size: 32px !important;
    }
    .vision_section .vision_titel p, .yonus_section .yonus_speace .yp_1,.news_box_text p {
        text-align: justify;
    }

    /* News Media  */
    .news_cards .news_box .news_img {
        flex-basis: 100%;
    }
    .news_cards .news_box .news_img img {
        width: 100%;
    }
    .news_cards .news_box .news_box_text h1 {
        font-size: 24px;
    }
    .news_cards .news_box .news_box_text {
        flex-basis: 100%;
        padding: 0px 10px 0px;
    }
    .news_box .new_style_box {
        padding: 0px 10px 0px !important;
    }
    .diff_news_box{
        flex-direction: column-reverse !important;
    }

    /* Option Media  */
    .opinion_table {
        padding: 0px 0px;
    }
    .opinion_table table tbody tr td button {
        padding: 11px 0px;
        display: block;
        width: 111px;
        font-size: 13px;
    }

    /* Donate Media  */
    .donate_content .donate_amount {
        align-items: center;
    }
    .donate_content .donate_title p {
        padding: 0px 0px;
    }
    .donate_form form input::placeholder {
        font-size: 18px;
    }

    /* Newslatter Media  */
    .newslatter_content .newslatter_text, .newslatter_form {
        width: 100% !important;
        padding: 0px 10px !important;
    }
    .newslatter_content .newslatter_text h1 {
        font-size: 28px;
    }
    .newslatter_content .newslatter_form form .subscribe_div {
        flex-direction: column;
        row-gap: 10px;
        height: auto;
        border-radius: 0px;
    }
    .newslatter_content .newslatter_form form .subscribe_div input::placeholder {
        font-size: 15px;
        text-align: center;
    }
    .newslatter_content .newslatter_form form .subscribe_div input {
        padding: 14px;
        border-radius: 5px;
    }
    .newslatter_content .newslatter_form form .subscribe_div button {
        border-radius: 5px !important;
    }
}
